@model IEnumerable<User>
@{
    ViewData["Title"] = "Index";
}

<a class="btn mb-5 btn-outline-primary" asp-controller="Users" asp-action="Create">Create user</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>       
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                        <a class="btn btn-sm btn-primary" asp-controller="Users" asp-action="ChangePassword" asp-route-id="@user.Id">Change password</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>    
</table>