@model PostDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1 class="h1">Details</h1>
<hr />
<div>
    
    <dl class="row">
        <dt class = "col-sm-2 text-primary">
            @Html.DisplayNameFor(model => model.Title):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2 text-primary">
            @Html.DisplayNameFor(model => model.Content):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2 text-primary">
            @Html.DisplayNameFor(model => model.PublishedDate):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>
    </dl>
</div>
<div>
    <a class="text-primary" asp-controller="Posts" asp-action="Index">Back</a>
</div>
