@model IEnumerable<Post>
@{
    ViewData["Title"] = "Index";
}

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary" asp-controller="Posts" asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>        
            <th>PublishedDate</th>   
            <th>Options</th>   
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.PublishedDate</td>
            <td>@item.PublishedDate</td>
            <td>@item.UserId</td>
            <td>
                <a asp-controller="Posts" asp-action="Edit" asp-route-postId="@item.Id">Edit</a> |
                <a asp-controller="Posts" asp-action="Details" asp-route-postId="@item.Id">Details</a> |
                <a asp-controller="Posts" asp-action="Delete" asp-route-postId="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
