@model IEnumerable<Post>
@{
    ViewData["Title"] = "Posts";
}

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary" asp-controller="Posts" asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Title</th>        
            <th>PublishedDate</th>   
            <th>Options</th>   
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.PublishedDate</td>
            <td>
                <form asp-action="Delete" asp-route-postId="@item.Id" method="post">
                    <a class="btn btn-sm btn-secondary" asp-controller="Posts" asp-action="Edit" asp-route-postId="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-secondary" asp-controller="Posts" asp-action="Details" asp-route-postId="@item.Id">Details</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
